@charset "utf-8";
/* --------------------------------------------------------------------------
 * insta-report-add-template styles.
 * @author Rajdeep
 * ------------------------------------------------------------------------*/
.add-store {
  width: 100%;
  margin: 24px;
  padding: 24px;
}
.add-store-label {
  width: 20%;
}
.add-store-button {
  background-color: #a0c2f9;
  position: relative;
  padding: 12px 12px;
  border: none;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  margin: 5px;
}
