@charset "utf-8";
/* --------------------------------------------------------------------------
 * approval-flow-step-list.xml style
 * @author minami_n
 * ------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 * HUE grid system.
 * inspired by bootstrap and flexboxgrid.com
 * row: children of row are aligned horizontaly. height of row can be fixed or auto
 * col: children of col are aligned vertically. width of col can be x/12, fixed, or auto.
 * col-as-row: from parents col-as-row looks like col and from children col-as-row looks like row.
 * this grid system itselt is not aware of padding. use ./grid-cell-padding.less
 * TODO col-lg(larger than 1440px width?)
 * @author sato_hi
 * ------------------------------------------------------------------------*/
.col {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.col-as-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
/**	
 * approval-flow-step-list.xml style
 * @version 0.1
 * @author tanioka_h
 * @author suetsugu_r
 */
.approval-flow-step-list {
  width: 100%;
  margin-left: 8px;
}
.approval-flow-step-list-font-size-ss {
  font-size: 1.2rem;
}
.approval-flow-step-list-text-align-center {
  text-align: center;
}
.approval-flow-step-list-main-contents {
  position: relative;
  width: 80%;
  margin-top: 24px;
  margin-left: 12px;
}
.approval-flow-step-list-clearfix:before,
.approval-flow-step-list-clearfix:after {
  display: table;
  content: " ";
}
.approval-flow-step-list-clearfix:after {
  clear: both;
}
.approval-flow-step-list-pull-right {
  float: right;
}
.approval-flow-step-list-pull-left {
  float: left;
}
.approval-flow-step-list-show {
  display: block;
}
.approval-flow-step-list-tool-buttons {
  float: right;
  margin: 0 16px 16px 0;
}
.approval-flow-step-list-approver-search-div {
  position: absolute;
  left: 16px;
}
.approval-flow-step-list-approver-search-div.invisible {
  visibility: hidden;
}
