@charset "utf-8";
/* --------------------------------------------------------------------------
 * HUE grid system.
 * inspired by bootstrap and flexboxgrid.com
 * row: children of row are aligned horizontaly. height of row can be fixed or auto
 * col: children of col are aligned vertically. width of col can be x/12, fixed, or auto.
 * col-as-row: from parents col-as-row looks like col and from children col-as-row looks like row.
 * this grid system itselt is not aware of padding. use ./grid-cell-padding.less
 * TODO col-lg(larger than 1440px width?)
 * @author sato_hi
 * ------------------------------------------------------------------------*/
.col {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.col-as-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.canvas-spreadsheet-find-replace {
  display: none;
}
.canvas-spreadsheet-find-replace input[type=text] {
  height: 27px;
}
.canvas-spreadsheet-find-replace select.find-scope-select {
  width: 100%;
  height: 27px;
}
.canvas-spreadsheet-find-replace .dialog-footer {
  text-align: center;
}
.canvas-spreadsheet-find-replace .spreadsheet-layout-row {
  margin-bottom: 4px;
}
.canvas-spreadsheet-find-and-replace-bar {
  background: #ffffff;
  position: absolute;
  width: 330px;
  height: 0px;
  border: 0px solid #dddddd;
  top: 108px;
  right: 0px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  overflow: hidden;
  padding: 0px 10px;
}
.canvas-spreadsheet-find-and-replace-bar.displayed {
  height: 37px;
  padding: 4px 10px;
  border-width: 1px;
}
.canvas-spreadsheet-find-and-replace-bar.grid-search-bar {
  top: -40px;
}
.canvas-spreadsheet-find-and-replace-bar .icon-btn:hover {
  border: 1px solid #bdbdbd;
  background-color: #dddddd;
  vertical-align: middle;
}
.canvas-spreadsheet-find-and-replace-bar .icon-btn {
  display: inline-block;
  cursor: pointer;
  width: 16px;
}
.canvas-spreadsheet-find-and-replace-bar .icon-btn:hover {
  border: 1px solid #bdbdbd;
  background-color: #dddddd;
  vertical-align: middle;
}
.canvas-spreadsheet-find-and-replace-bar .grid-search-bar-close {
  display: inline-block;
}
.canvas-spreadsheet-find-and-replace-bar .direction-icon-zone {
  display: inline-block;
}
.canvas-spreadsheet-find-and-replace-bar .direction-icon-zone div[class*="direction-"] {
  display: inherit;
  width: 15px;
}
.canvas-spreadsheet-find-and-replace-bar .direction-icon-zone div[class*="direction-"] i[class*="wap-icon-angle"] {
  cursor: pointer;
}
.canvas-spreadsheet-find-and-replace-bar .find-input-zone {
  width: 250px;
  display: inline-block;
  height: 26px;
  position: relative;
  margin: 0 4px;
}
.canvas-spreadsheet-find-and-replace-bar .find-input-zone .form-control {
  height: 26px;
  padding-right: 70px;
}
.canvas-spreadsheet-find-and-replace-bar .find-input-zone .find-matched-result {
  position: absolute;
  top: 5px;
  right: 30px;
  color: #999999;
}
.canvas-spreadsheet-find-and-replace-bar .find-input-zone .find-matched-result span {
  margin-right: 4px;
}
