@charset "utf-8";
/* --------------------------------------------------------------------------
 * HUE grid system.
 * inspired by bootstrap and flexboxgrid.com
 * row: children of row are aligned horizontaly. height of row can be fixed or auto
 * col: children of col are aligned vertically. width of col can be x/12, fixed, or auto.
 * col-as-row: from parents col-as-row looks like col and from children col-as-row looks like row.
 * this grid system itselt is not aware of padding. use ./grid-cell-padding.less
 * TODO col-lg(larger than 1440px width?)
 * @author sato_hi
 * ------------------------------------------------------------------------*/
.col {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.col-as-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.spreadsheet-toolbar {
  background-color: #ffffff;
  margin: 0 0 0 0;
  padding: 0 100px 0 32px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.spreadsheet-toolbar-icon-active {
  border: 1px solid #bdbdbd;
  background-color: #dddddd;
}
.spreadsheet-toolbar-border-icon {
  width: 18px;
  height: 18px;
  background-image: url("../../img/spreadsheet/border-sprite.png");
  background-position: -22px -37px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 2px;
}
.spreadsheet-toolbar-horizontal-top-icon {
  width: 18px;
  height: 18px;
  background-image: url("../../img/spreadsheet/border-sprite.png");
  background-position: -22px -126px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 2px;
}
.spreadsheet-toolbar-horizontal-middle-icon {
  width: 18px;
  height: 18px;
  background-image: url("../../img/spreadsheet/border-sprite.png");
  background-position: -2px -150px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 2px;
}
.spreadsheet-toolbar-horizontal-bottom-icon {
  width: 18px;
  height: 18px;
  background-image: url("../../img/spreadsheet/border-sprite.png");
  background-position: -2px -126px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 2px;
}
.spreadsheet-toolbar-wrap-text-icon {
  width: 18px;
  height: 18px;
  background-image: url("../../img/spreadsheet/border-sprite.png");
  background-position: -24px -149px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 2px;
}
.spreadsheet-toolbar-search-close {
  display: none;
}
.spreadsheet-toolbar > div {
  display: inline-block;
  padding: 0px 10px 0px 10px;
  position: relative;
  top: -5px;
}
.spreadsheet-toolbar > div.syainlist-search-div {
  padding-top: 8px;
}
.spreadsheet-toolbar > div:last-child {
  border-right: 0;
}
.spreadsheet-toolbar > div > i {
  width: 27px;
  height: 27px;
  text-align: center;
  border: 1px solid transparent;
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.spreadsheet-toolbar > div > i.toolbar-icon-on {
  padding: 2px 0 2px 0;
  border: 1px solid #bdbdbd;
  background-color: #dddddd;
}
.spreadsheet-toolbar > div > i:hover {
  border: 1px solid #bdbdbd;
  background-color: #dddddd;
  vertical-align: middle;
}
.spreadsheet-toolbar > div > i.dropdown-icon {
  width: 39px;
  text-align: left;
  position: relative;
}
.spreadsheet-toolbar > div > i.dropdown-icon > .wap-icon-caret-down {
  position: absolute;
  right: -2px;
  font-size: 1.4rem;
  top: 3px;
}
.spreadsheet-toolbar > div .toolbar-border {
  padding-top: 4px;
}
.spreadsheet-toolbar > div .toolbar-border:hover {
  padding: 4px 0 2px 0;
}
.spreadsheet-toolbar > div .wap-icon-font:before {
  content: "A";
  height: 26px;
  font-weight: 700;
}
.spreadsheet-toolbar > div .wap-icon-font {
  border-bottom: 4px solid #999999;
}
.spreadsheet-toolbar > div .wap-icon-color-bucket:before {
  height: 26px;
}
.spreadsheet-toolbar > div .wap-icon-color-bucket {
  border-bottom-width: 4px solid #ffffff;
}
.spreadsheet-toolbar > div .toolbar-bg-color {
  border-bottom: 4px solid #ffffff;
}
.spreadsheet-toolbar > span {
  display: inline-block;
  border-right: 1px solid #dddddd;
  margin: 6px 0 -4px 0;
  height: 25px;
}
.spreadsheet-toolbar-popover {
  font-size: 1.2rem;
}
.spreadsheet-toolbar .save-info {
  display: none;
  font-size: 1.2rem;
  padding: 0 8px;
}
.spreadsheet-toolbar .save-info.edited {
  display: inline-block;
}
.spreadsheet-toolbar .save-info .saving-info {
  display: none;
}
.spreadsheet-toolbar .save-info .saving-info-text {
  color: #999999;
}
.spreadsheet-toolbar .save-info .saving-info-icon {
  -moz-transition: -moz-transform 1s linear;
  -webkit-transition: -webkit-transform 1s linear;
  -o-transition: -o-transform 1s linear;
  -ms-transition: -ms-transform 1s linear;
}
.spreadsheet-toolbar .save-info .saving-info-icon.save-finished {
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  transform: rotate(720deg);
}
.spreadsheet-toolbar .save-info .save-info-text {
  color: #999999;
  display: none;
}
.spreadsheet-toolbar .save-info .save-info-text:hover {
  cursor: pointer;
  text-decoration: underline;
}
.spreadsheet-toolbar .lock-table-btn,
.spreadsheet-toolbar .function-menu-btn {
  height: 27px;
  cursor: default;
  padding: 2px 4px 2px 0px;
  border: 1px solid transparent ;
}
.spreadsheet-toolbar .lock-table-btn:hover,
.spreadsheet-toolbar .function-menu-btn:hover {
  border: 1px solid #bdbdbd;
  background-color: #dddddd;
}
.spreadsheet-toolbar .lock-table-btn .wap-icon-table-lock-line,
.spreadsheet-toolbar .function-menu-btn .wap-icon-table-lock-line,
.spreadsheet-toolbar .lock-table-btn .wap-icon-sigma,
.spreadsheet-toolbar .function-menu-btn .wap-icon-sigma {
  font-size: 1.7rem;
}
.spreadsheet-toolbar .lock-table-btn .caret,
.spreadsheet-toolbar .function-menu-btn .caret {
  margin-top: -8px;
}
.spreadsheet-toolbar .lock-table-btn > i,
.spreadsheet-toolbar .function-menu-btn > i {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.spreadsheet-toolbar .table-lock-dropdown,
.spreadsheet-toolbar .function-menu-dropdown {
  border-color: #7f7f7f;
  border-radius: 0px;
  padding: 6px;
}
.spreadsheet-toolbar .table-lock-dropdown li > a,
.spreadsheet-toolbar .function-menu-dropdown li > a {
  margin: 0;
}
.spreadsheet-toolbar .table-lock-dropdown .non-clickable:not(.disabled) > a:hover,
.spreadsheet-toolbar .function-menu-dropdown .non-clickable:not(.disabled) > a:hover {
  color: #333333;
  cursor: default;
}
.spreadsheet-toolbar .table-lock-dropdown .dropdown-submenu,
.spreadsheet-toolbar .function-menu-dropdown .dropdown-submenu {
  position: relative;
}
.spreadsheet-toolbar .table-lock-dropdown .dropdown-submenu > .dropdown-menu,
.spreadsheet-toolbar .function-menu-dropdown .dropdown-submenu > .dropdown-menu {
  left: calc(100%);
  margin-top: -32px;
  margin-left: -2px;
  border-radius: 0px;
  border-color: #7f7f7f;
  padding: 6px;
}
.spreadsheet-toolbar .table-lock-dropdown .dropdown-submenu > a:after,
.spreadsheet-toolbar .function-menu-dropdown .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 6px;
}
.spreadsheet-toolbar .table-lock-dropdown .dropdown-submenu:hover > a:after,
.spreadsheet-toolbar .function-menu-dropdown .dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.spreadsheet-toolbar .table-lock-dropdown .dropdown-submenu.pull-left,
.spreadsheet-toolbar .function-menu-dropdown .dropdown-submenu.pull-left {
  float: none;
}
.spreadsheet-toolbar .table-lock-dropdown .dropdown-submenu.pull-left > .dropdown-menu,
.spreadsheet-toolbar .function-menu-dropdown .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px 0 6px 6px;
  -moz-background-clip: padding;
  border-radius: 6px 0 6px 6px;
  background-clip: padding-box;
}
.spreadsheet-toolbar .dropdown .dropdown-menu {
  width: 190px;
}
