@charset "utf-8";
/* --------------------------------------------------------------------------
 * style for col-auto tag handler.
 * @author sato_hi
 * ------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 * cell padding for layout system.
 * @author sato_hi
 * ------------------------------------------------------------------------*/
.grid-cell-padding {
  padding: 16px 16px;
}
/* --------------------------------------------------------------------------
 * style for col tag handler.
 * @author sato_hi
 * ------------------------------------------------------------------------*/
.l-col {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.l-col.l-auto-padding.l-grid-leaf {
  padding: 8px 16px;
}
.l-col.l-padding-one-one {
  padding: 8px 8px;
}
.l-col.l-padding-one-two {
  padding: 8px 16px;
}
.l-col.l-padding-two-two {
  padding: 16px 16px;
}
.l-col-md-grow {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
}
/*.l-apartment > .l-auto-margin{
	margin:0 @size-base*2;
}*/
.l-col-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.l-col-md-hidden {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
}
.l-col-left-to-right {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.l-col-left-to-right.l-col-component-margin-s.l-grid-leaf > .component {
  margin-left: 8px;
}
.l-col-left-to-right.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-left-to-right.l-col-component-margin-m.l-grid-leaf > .component {
  margin-left: 16px;
}
.l-col-left-to-right.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-left-to-right-on-top {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.l-col-left-to-right-on-top.l-col-component-margin-s.l-grid-leaf > .component {
  margin-left: 8px;
}
.l-col-left-to-right-on-top.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-left-to-right-on-top.l-col-component-margin-m.l-grid-leaf > .component {
  margin-left: 16px;
}
.l-col-left-to-right-on-top.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-left-to-right-on-bottom {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: end;
  -moz-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.l-col-left-to-right-on-bottom.l-col-component-margin-s.l-grid-leaf > .component {
  margin-left: 8px;
}
.l-col-left-to-right-on-bottom.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-left-to-right-on-bottom.l-col-component-margin-m.l-grid-leaf > .component {
  margin-left: 16px;
}
.l-col-left-to-right-on-bottom.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-left-to-right-on-center {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.l-col-left-to-right-on-center.l-col-component-margin-s.l-grid-leaf > .component {
  margin-left: 8px;
}
.l-col-left-to-right-on-center.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-left-to-right-on-center.l-col-component-margin-m.l-grid-leaf > .component {
  margin-left: 16px;
}
.l-col-left-to-right-on-center.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-right-to-left {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.l-col-right-to-left.l-col-component-margin-s.l-grid-leaf > .component {
  margin-left: 8px;
}
.l-col-right-to-left.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-right-to-left.l-col-component-margin-m.l-grid-leaf > .component {
  margin-left: 16px;
}
.l-col-right-to-left.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-right-to-left-on-top {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.l-col-right-to-left-on-top.l-col-component-margin-s.l-grid-leaf > .component {
  margin-left: 8px;
}
.l-col-right-to-left-on-top.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-right-to-left-on-top.l-col-component-margin-m.l-grid-leaf > .component {
  margin-left: 16px;
}
.l-col-right-to-left-on-top.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-right-to-left-on-bottom {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -moz-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.l-col-right-to-left-on-bottom.l-col-component-margin-s.l-grid-leaf > .component {
  margin-left: 8px;
}
.l-col-right-to-left-on-bottom.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-right-to-left-on-bottom.l-col-component-margin-m.l-grid-leaf > .component {
  margin-left: 16px;
}
.l-col-right-to-left-on-bottom.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-right-to-left-on-center {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.l-col-right-to-left-on-center.l-col-component-margin-s.l-grid-leaf > .component {
  margin-left: 8px;
}
.l-col-right-to-left-on-center.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-right-to-left-on-center.l-col-component-margin-m.l-grid-leaf > .component {
  margin-left: 16px;
}
.l-col-right-to-left-on-center.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-left: 0;
}
.l-col-top-to-bottom {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.l-col-top-to-bottom.l-col-component-margin-s.l-grid-leaf > .component {
  margin-top: 8px;
}
.l-col-top-to-bottom.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-top: 0;
}
.l-col-top-to-bottom.l-col-component-margin-m.l-grid-leaf > .component {
  margin-top: 16px;
}
.l-col-top-to-bottom.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-top: 0;
}
.l-col-top-to-bottom-on-left {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.l-col-top-to-bottom-on-left.l-col-component-margin-s.l-grid-leaf > .component {
  margin-top: 8px;
}
.l-col-top-to-bottom-on-left.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-top: 0;
}
.l-col-top-to-bottom-on-left.l-col-component-margin-m.l-grid-leaf > .component {
  margin-top: 16px;
}
.l-col-top-to-bottom-on-left.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-top: 0;
}
.l-col-top-to-bottom-on-right {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: end;
  -moz-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.l-col-top-to-bottom-on-right.l-col-component-margin-s.l-grid-leaf > .component {
  margin-top: 8px;
}
.l-col-top-to-bottom-on-right.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-top: 0;
}
.l-col-top-to-bottom-on-right.l-col-component-margin-m.l-grid-leaf > .component {
  margin-top: 16px;
}
.l-col-top-to-bottom-on-right.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-top: 0;
}
.l-col-top-to-bottom-on-center {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.l-col-top-to-bottom-on-center.l-col-component-margin-s.l-grid-leaf > .component {
  margin-top: 8px;
}
.l-col-top-to-bottom-on-center.l-col-component-margin-s.l-grid-leaf > .component:first-child {
  margin-top: 0;
}
.l-col-top-to-bottom-on-center.l-col-component-margin-m.l-grid-leaf > .component {
  margin-top: 16px;
}
.l-col-top-to-bottom-on-center.l-col-component-margin-m.l-grid-leaf > .component:first-child {
  margin-top: 0;
}
.l-col-md-1 {
  -webkit-flex-basis: 8.333333333333332%;
  flex-basis: 8.333333333333332%;
  width: 8.33333333%;
}
.l-col-md-2 {
  -webkit-flex-basis: 16.666666666666664%;
  flex-basis: 16.666666666666664%;
  width: 16.66666667%;
}
.l-col-md-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  width: 25%;
}
.l-col-md-4 {
  -webkit-flex-basis: 33.33333333333333%;
  flex-basis: 33.33333333333333%;
  width: 33.33333333%;
}
.l-col-md-5 {
  -webkit-flex-basis: 41.66666666666667%;
  flex-basis: 41.66666666666667%;
  width: 41.66666667%;
}
.l-col-md-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  width: 50%;
}
.l-col-md-7 {
  -webkit-flex-basis: 58.333333333333336%;
  flex-basis: 58.333333333333336%;
  width: 58.33333333%;
}
.l-col-md-8 {
  -webkit-flex-basis: 66.66666666666666%;
  flex-basis: 66.66666666666666%;
  width: 66.66666667%;
}
.l-col-md-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  width: 75%;
}
.l-col-md-10 {
  -webkit-flex-basis: 83.33333333333334%;
  flex-basis: 83.33333333333334%;
  width: 83.33333333%;
}
.l-col-md-11 {
  -webkit-flex-basis: 91.66666666666666%;
  flex-basis: 91.66666666666666%;
  width: 91.66666667%;
}
.l-col-md-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  width: 100%;
}
@media (min-width: 1441px) {
  .l-col {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .l-col-lg-1 {
    -webkit-flex-basis: 8.333333333333332%;
    flex-basis: 8.333333333333332%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 8.33333333%;
  }
  .l-col-lg-2 {
    -webkit-flex-basis: 16.666666666666664%;
    flex-basis: 16.666666666666664%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 16.66666667%;
  }
  .l-col-lg-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 25%;
  }
  .l-col-lg-4 {
    -webkit-flex-basis: 33.33333333333333%;
    flex-basis: 33.33333333333333%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 33.33333333%;
  }
  .l-col-lg-5 {
    -webkit-flex-basis: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 41.66666667%;
  }
  .l-col-lg-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 50%;
  }
  .l-col-lg-7 {
    -webkit-flex-basis: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 58.33333333%;
  }
  .l-col-lg-8 {
    -webkit-flex-basis: 66.66666666666666%;
    flex-basis: 66.66666666666666%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 66.66666667%;
  }
  .l-col-lg-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 75%;
  }
  .l-col-lg-10 {
    -webkit-flex-basis: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 83.33333333%;
  }
  .l-col-lg-11 {
    -webkit-flex-basis: 91.66666666666666%;
    flex-basis: 91.66666666666666%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 91.66666667%;
  }
  .l-col-lg-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 100%;
  }
  .l-col-lg-grow {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;
  }
  .l-col-lg-hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
  }
}
.l-col-screen-margin-left {
  margin-left: 16px;
}
.l-col-screen-margin-right {
  margin-right: 17px;
}
.l-col-overflow-y-scroll {
  margin-right: 0;
  overflow-y: scroll;
}
