@charset "utf-8";
/* --------------------------------------------------------------------------
 * insta-report-preview styles.
 * (temporary style)
 * @author shimbo_t
 * ------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 * common-report-preview-tools styles.
 * @author akhil
 * ------------------------------------------------------------------------*/
.common-report-preview-tools-action {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
