@charset "utf-8";
.counter-label-caption {
  line-height: 32px;
}
.counter-label-caption.caption-title {
  font-size: 1.7rem;
  margin-right: 32px;
  vertical-align: bottom;
}
.counter-label-count {
  font-size: 2rem;
  line-height: 32px;
}
.counter-label-count-color-info {
  color: #4285f4;
}
.counter-label-count-color-success {
  color: #33ac71;
}
.counter-label-count-color-warning {
  color: #f4b142;
}
.counter-label-count-color-danger {
  color: #e91e63;
}
.counter-label-unit {
  padding-left: 8px;
  line-height: 32px;
}
