@charset "utf-8";
.wap-menu-breadcrumb-link {
  display: inline;
  text-decoration: underline;
}
.wap-menu-breadcrumb-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.wap-menu-div-header {
  padding: 10px 15px;
}
.wap-menu-div-icon-angle-left {
  height: 20px;
  width: 20px;
  display: inline;
}
.wap-menu-div-icon-angle-left:hover {
  border: solid 1px #dddddd;
  cursor: pointer;
}
.wap-menu-div-icon-caret-right {
  height: 20px;
  width: 20px;
  display: inline;
}
.wap-menu-div-icon-drillable {
  height: 20px;
  width: 20px;
  float: right;
  margin: 0 4px 0 4px;
}
.wap-menu-div-icon-drillable.drillable:hover {
  border: solid 1px #dddddd;
  cursor: pointer;
}
.wap-menu-header-li {
  margin-left: 10px;
  margin-bottom: 10px;
}
.wap-menuLi {
  margin-left: 10px;
}
.wap-menuLi > a.active {
  color: #f5f5f5;
  background-color: #333333;
  font-weight: 700;
}
.wap-menuLi > a.active h3,
.wap-menuLi > a.active p {
  font-weight: 700;
}
.wap-menu-accordion-div,
.wap-menu-right-text {
  float: right;
  margin: 0 4px 0 4px;
}
.wap-menu-accordion-div {
  height: 20px;
  width: 20px;
}
.wap-menu-accordion-div.selectable-icon-div:hover {
  border: solid 1px #dddddd;
  cursor: pointer;
}
.wap-menu-accordion-icon {
  float: right;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
.collapsed .wap-menu-accordion-icon {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
.wap-menutype-strong .wap-menu-accordion-icon {
  margin-top: 4px;
}
.wap-menutype-strong .wap-menu-right-text {
  padding-top: 6px;
}
ul.wap-menutype-default,
ul.wap-menutype-strong {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.wap-menu-li-anchor {
  position: relative;
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.wap-menu-li-anchor:hover,
.wap-menu-li-anchor:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}
.wap-menutype-default > li > a {
  padding: 10px 15px;
}
.wap-menutype-strong > li > a {
  margin-bottom: 10px;
}
hr.wap-menu-border {
  margin-top: 2px;
  margin-bottom: 2px;
}
h3.wap-menu-main-caption,
p.wap-menu-supplement-caption {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 20px;
}
p.wap-menu-supplement-caption {
  color: rgba(143, 143, 143, 0.85);
}
div.wap-menu-icon {
  float: left;
}
.wap-menutype-strong .wap-menu-icon {
  background-color: #f5f5f5;
  color: #999999;
  font-size: 200%;
}
.wap-menutype-strong .wap-menu-caption {
  background-color: rgba(0, 0, 0, 0.1);
}
.wap-menuLi .popover {
  white-space: nowrap;
}
