@charset "utf-8";
.dropdown.wap-core-ui-PulldownButton .wap-icon-caret-down {
  position: relative;
  top: 2px;
  opacity: 1;
}
.dropdown .dropdown-toggle .caption {
  margin-left: 6px;
  margin-right: 6px;
}
.pulldown-label {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.pulldown-label:hover {
  color: #818da2;
}
.pulldown-label i {
  zoom: 1;
  filter: alpha(opacity=95);
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
  font-size: 1.4rem;
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 3px 0;
  margin: 0 0 0;
  list-style: none;
  font-size: 1.4rem;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid #dddddd;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 7.5px 0;
  overflow: hidden;
  background-color: #dddddd;
}
.dropdown-menu > li > a {
  display: block;
  padding: 4px 8px;
  clear: both;
  font-weight: normal;
  line-height: 1.25;
  color: #333333;
  cursor: pointer;
  white-space: nowrap;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.dropdown-menu > li i {
  margin-right: 4px;
  top: 2px;
  position: relative;
}
.dropdown-menu.dropdown-green {
  background-color: #33ac71;
  border-color: #2e9c67;
}
.dropdown-menu.dropdown-green > li > a {
  color: #ffffff;
}
.dropdown-menu.dropdown-green > li:hover a {
  background-color: #2d9864;
  color: #ffffff;
}
.dropdown-menu.dropdown-green .divider,
.dropdown-menu.dropdown-green .divider:hover {
  height: 1px;
  margin: 7.5px 0;
  overflow: hidden;
  background-color: #2e9c67;
}
.dropdown-menu.dropdown-gold {
  background-color: #f4b142;
  border-color: #e6950d;
}
.dropdown-menu.dropdown-gold > li > a {
  color: #846e20;
}
.dropdown-menu.dropdown-gold > li:hover a {
  background-color: #eb980e;
  color: #846e20;
}
.dropdown-menu.dropdown-gold .divider,
.dropdown-menu.dropdown-gold .divider:hover {
  height: 1px;
  margin: 7.5px 0;
  overflow: hidden;
  background-color: #e6950d;
}
.dropdown-menu.dropdown-blue {
  background-color: #4285f4;
  border-color: #2a75f3;
}
.dropdown-menu.dropdown-blue > li > a {
  color: #ffffff;
}
.dropdown-menu.dropdown-blue > li:hover a {
  background-color: #2a75f3;
  color: #ffffff;
}
.dropdown-menu.dropdown-blue .divider,
.dropdown-menu.dropdown-blue .divider:hover {
  height: 1px;
  margin: 7.5px 0;
  overflow: hidden;
  background-color: #2a75f3;
}
.dropdown-menu.dropdown-red {
  background-color: #e91e63;
  border-color: #cf1454;
}
.dropdown-menu.dropdown-red > li > a {
  color: #ffffff;
}
.dropdown-menu.dropdown-red > li:hover a {
  background-color: #d81557;
  color: #ffffff;
}
.dropdown-menu.dropdown-red .divider,
.dropdown-menu.dropdown-red .divider:hover {
  height: 1px;
  margin: 7.5px 0;
  overflow: hidden;
  background-color: #cf1454;
}
.dropdown-menu.dropdown-black {
  background-color: #000000;
  border-color: #454545;
}
.dropdown-menu.dropdown-black > li > a {
  color: #ffffff;
}
.dropdown-menu.dropdown-black > li:hover a {
  background-color: #383838;
  color: #ffffff;
}
.dropdown-menu.dropdown-black .divider,
.dropdown-menu.dropdown-black .divider:hover {
  height: 1px;
  margin: 7.5px 0;
  overflow: hidden;
  background-color: #454545;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #333333;
  background-color: #f1f1f1;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #4285f4;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-header {
  display: block;
  padding: 4px 20px;
  font-size: 1.2rem;
  line-height: 1.25;
  color: #999999;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
