@charset "utf-8";
.hue-drive-content-panel-options {
  padding: 8px 0px 0px 0px;
}
.hue-drive-content-panel-options.hidden {
  display: none;
}
.hue-drive-content-panel-options.invisible {
  visibility: hidden;
}
.hue-drive-content-panel-options-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hue-drive-content-panel-options-wrapper.hidden {
  display: none;
}
.hue-drive-content-panel-options-wrapper.invisible {
  visibility: hidden;
}
.hue-drive-content-panel-options-option {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}
.hue-drive-content-panel-options.grid .hue-drive-content-panel-options-option.hidden {
  display: none;
}
.hue-drive-content-panel-options.grid .hue-drive-content-panel-options-option.invisible {
  visibility: hidden;
}
.hue-drive-content-panel-options.grid .hue-drive-content-panel-options-option-icon.hidden {
  display: none;
}
.hue-drive-content-panel-options.grid .hue-drive-content-panel-options-option-icon.invisible {
  visibility: hidden;
}
.hue-drive-content-panel-options.grid .hue-drive-content-panel-options-option-span.hidden {
  display: none;
}
.hue-drive-content-panel-options.grid .hue-drive-content-panel-options-option-span.invisible {
  visibility: hidden;
}
.hue-drive-content-panel-options.list .hue-drive-content-panel-options-option {
  padding: 0px 8px;
}
.hue-drive-content-panel-options.list .hue-drive-content-panel-options-option.hidden {
  display: none;
}
.hue-drive-content-panel-options.list .hue-drive-content-panel-options-option.invisible {
  visibility: hidden;
}
.hue-drive-content-panel-options.list .hue-drive-content-panel-options-option-icon.hidden {
  display: none;
}
.hue-drive-content-panel-options.list .hue-drive-content-panel-options-option-icon.invisible {
  visibility: hidden;
}
.hue-drive-content-panel-options.list .hue-drive-content-panel-options-option-span {
  margin-left: 4px;
}
.hue-drive-content-panel-options.list .hue-drive-content-panel-options-option-span.hidden {
  display: none;
}
.hue-drive-content-panel-options.list .hue-drive-content-panel-options-option-span.invisible {
  visibility: hidden;
}
