@charset "utf-8";
.hue-drive-folder-navigation-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hue-drive-folder-navigation-container.hidden {
  display: none;
}
