@charset "utf-8";
.icon-size-small {
  font-size: 1.4rem;
}
.icon-size-medium {
  font-size: 1.6rem;
}
.icon-size-large {
  font-size: 2rem;
}
.icon-color-success {
  color: #33ac71;
}
.icon-color-info {
  color: #4285f4;
}
.icon-color-warning {
  color: #f4b142;
}
.icon-color-danger {
  color: #e91e63;
}
.icon-color-light {
  color: #7f7f7f;
}
.icon-color-normal {
  color: #333333;
}
