@charset "utf-8";
.language-picker {
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  width: 200px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.language-picker-hidden {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.language-picker:hover {
  cursor: pointer ;
  color: #ffffff;
}
.language-picker-language {
  display: block;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 200px;
  padding: 12px 16px;
}
.language-picker-language-pop {
  display: none;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  width: 200px;
  padding: 8px 0;
  float: right;
  clear: both;
  position: absolute;
  top: 56px;
  display: block;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.language-picker-language-pop-hidden {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.language-picker-language-pop.language-picker-language-pop-off {
  display: none;
}
.language-picker-language-pop-content {
  margin: 0;
}
.language-picker-wap-icon-cancel {
  font-size: 1.7rem;
  position: absolute;
  right: 8px;
  color: #999999;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.language-picker-language-pop .wap-icon-cancel:hover {
  color: #ffffff;
}
.language-picker-language-pop:before {
  content: '';
  position: absolute;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  bottom: 100%;
  left: 16px;
}
.language-picker-language-name {
  display: block ;
  padding: 8px 16px;
  width: 136px;
  font-size: 1.4rem;
  width: 100%;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.language-picker-style-black.language-picker {
  background-color: #000000;
}
.language-picker-style-black.language-picker:hover {
  background-color: #000000;
}
.language-picker-style-black .language-picker-language {
  color: #ffffff;
}
.language-picker-style-black .language-picker-language-name {
  color: #ffffff;
}
.language-picker-style-black .language-picker-language-name:hover {
  background-color: transparent;
  color: #7f7f7f;
}
.language-picker-style-black .language-picker-language-pop {
  background-color: #000000;
}
.language-picker-style-black .language-picker-language-pop:before {
  border-bottom-color: #000000;
}
.language-picker-style-white.language-picker {
  background-color: #ffffff;
}
.language-picker-style-white.language-picker:hover {
  background-color: #ffffff;
}
.language-picker-style-white .language-picker-language {
  color: #333333;
}
.language-picker-style-white .language-picker-language-name {
  color: #333333;
}
.language-picker-style-white .language-picker-language-name:hover {
  background-color: transparent;
  color: #7f7f7f;
}
.language-picker-style-white .language-picker-language-pop {
  background-color: #ffffff;
}
.language-picker-style-white .language-picker-language-pop:before {
  border-bottom-color: #ffffff;
}
.language-picker-style-black-transparent.language-picker {
  background-color: rgba(0, 0, 0, 0.2);
}
.language-picker-style-black-transparent.language-picker:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.language-picker-style-black-transparent .language-picker-language {
  color: #ffffff;
}
.language-picker-style-black-transparent .language-picker-language-name {
  color: #ffffff;
}
.language-picker-style-black-transparent .language-picker-language-name:hover {
  background-color: transparent;
  color: #ffffff;
}
.language-picker-style-black-transparent .language-picker-language-pop {
  background-color: rgba(0, 0, 0, 0.2);
}
.language-picker-style-black-transparent .language-picker-language-pop:before {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.language-picker-style-white-transparent.language-picker {
  background-color: rgba(255, 255, 255, 0.2);
}
.language-picker-style-white-transparent.language-picker:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.language-picker-style-white-transparent .language-picker-language {
  color: #ffffff;
}
.language-picker-style-white-transparent .language-picker-language-name {
  color: #cccccc;
}
.language-picker-style-white-transparent .language-picker-language-name:hover {
  color: #ffffff;
}
.language-picker-style-white-transparent .language-picker-language-pop {
  background-color: rgba(255, 255, 255, 0.2);
}
.language-picker-style-white-transparent .language-picker-language-pop:before {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
