@charset "utf-8";
/* --------------------------------------------------------------------------
 * HUE grid system.
 * inspired by bootstrap and flexboxgrid.com
 * row: children of row are aligned horizontaly. height of row can be fixed or auto
 * col: children of col are aligned vertically. width of col can be x/12, fixed, or auto.
 * col-as-row: from parents col-as-row looks like col and from children col-as-row looks like row.
 * this grid system itselt is not aware of padding. use ./grid-cell-padding.less
 * TODO col-lg(larger than 1440px width?)
 * @author sato_hi
 * ------------------------------------------------------------------------*/
.col,
.magic-layout-data-list-cardgrid-card-default-card-datalist-center,
.magic-layout-data-list-cardgrid-card-default-card-datalist-right {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.col-as-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
/* --------------------------------------------------------------------------
 * cell padding for layout system.
 * @author sato_hi
 * ------------------------------------------------------------------------*/
.grid-cell-padding {
  padding: 16px 16px;
}
/* --------------------------------------------------------------------------
 * magic-layout-data-list styles.
 * @author cheng_w
 * ------------------------------------------------------------------------*/
.magic-layout-data-list {
  height: 460px;
  z-index: 1090;
  margin-top: 24px;
  overflow-y: scroll;
}
.magic-layout-data-list-area {
  height: inherit;
}
.magic-layout-data-list-area-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  max-height: 100%;
}
.magic-layout-data-list .cardgrid-pane-body .cardgrid-canvas {
  width: 100%;
  padding: 0;
}
.magic-layout-data-list-cardgrid-card {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  max-height: 100%;
  margin: 0 4px 8px 0;
  cursor: pointer;
  padding: 8px 0 8px 16px;
  margin-bottom: 0;
  border: 2px solid #ffffff;
}
.magic-layout-data-list-cardgrid-card-image {
  height: 87px;
  width: 65px;
}
.magic-layout-data-list-cardgrid-card-title.magic-layout-data-list-cardgrid-card-default-card-datalist-right-datalist-contents {
  font-size: 1.7rem;
}
.magic-layout-data-list-cardgrid-card-default-card-datalist-left {
  margin: auto;
}
.magic-layout-data-list-cardgrid-card-default-card-datalist-center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 64px;
  flex-basis: 64px;
}
.magic-layout-data-list-cardgrid-card-default-card-datalist-right {
  padding-left: 2px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  max-width: 100%;
}
.magic-layout-data-list-cardgrid-card-default-card-datalist-right-datalist-contents {
  margin-left: 24px;
  text-align: left;
  font-size: 1.4rem;
}
.magic-layout-data-list-cardgrid-card:hover {
  background-color: #dddddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #dddddd;
}
.magic-layout-data-list-cardgrid-card.active {
  border: 2px solid #33ac71;
}
