@charset "utf-8";
/* --------------------------------------------------------------------------
 * l-mail styles.
 * @author aseem
 * ------------------------------------------------------------------------*/
.mobile-text-input.input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 0 0 0 5px;
  margin: 0;
  width: 100%;
  height: 43px;
  color: #000000;
  font-size: 1.7rem;
}
