@charset "utf-8";
.notification-content-list {
  width: 450px;
  overflow-y: auto;
  min-height: 48px;
  max-height: 259px;
}
.notification-content-list:empty::before {
  content: "No notifications.";
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 16px;
}
.notification-content-list-area {
  border-top: 1px solid #dddddd;
}
.notification-content-list-area:first-child {
  border-top: none;
}
