@charset "utf-8";
.pulldown-item {
  cursor: pointer;
}
.pulldown-item .item-link {
  display: block;
  color: #333333;
  padding: 4px 8px;
  margin: 0 0;
  clear: both;
  white-space: nowrap;
}
.pulldown-item .item-link:hover,
.pulldown-item .item-link:focus {
  background-color: #f1f1f1;
  text-decoration: none;
  color: #333333;
}
.pulldown-item .item-link .item-text {
  display: block;
  width: 100%;
}
.pulldown-item .active {
  background-color: #f1f1f1;
  text-decoration: none;
  color: #333333;
}
.pulldown-item .active .item-link,
.pulldown-item .active .item-link:hover,
.pulldown-item .active .item-link:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #4285f4;
}
.pulldown-item-divider,
.pulldown-item-divider:hover {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  background-color: #dddddd;
}
