@charset "utf-8";
/* --------------------------------------------------------------------------
 * report-preview-wrapper styles.
 * (temporary style)
 * @author akhil
 * ------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 * report-preview-wrapper styles.
 * @author akhil
 * ------------------------------------------------------------------------*/
.report-preview-wrapper {
  background-color: #f1f1f1;
  padding: 32px;
  width: 100%;
  text-align: center;
}
