@charset "utf-8";
/* --------------------------------------------------------------------------
 * insta-report-report-manager-feature styles.
 * @author Rajdeep
 * ------------------------------------------------------------------------*/
.report-manager-feature {
  width: 100%;
}
.report-manager-feature-list-area-title {
  background-color: #999999;
  margin: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 37px;
  font-family: "メイリオ", sans-serif;
  color: #ffffff;
  cursor: pointer;
}
