@charset "utf-8";
/* --------------------------------------------------------------------------
 * report-editor-numeric-dropdown-property styles.
 * (temporary style)
 * @author rohit
 * ------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 * report-editor-numeric-simple-inputbox styles.
 * @author rohit
 * ------------------------------------------------------------------------*/
.report-editor-dropdown-property {
  margin: 5px;
}
.report-editor-dropdown-property-label {
  display: inline-block;
  width: 35%;
  margin: 3px;
  margin-right: 0;
}
.report-editor-dropdown-property-value {
  display: inline-block;
  width: 60%;
  height: 35px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.report-editor-dropdown-property-value .combo-box {
  width: 100%;
}
.report-editor-dropdown-property-value .combo-box .input-parent {
  width: 100%;
}
.report-editor-dropdown-property-value .combo-box .combo-box-single-input {
  border: 0px;
}
