@charset "utf-8";
.side-panel-tags {
  width: 100%;
}
.side-panel-tags-item {
  padding: 8px;
}
.side-panel-tags-item.selected {
  font-weight: 700;
  background: #dddddd;
}
.side-panel-tags-item.hover {
  background: #f1f1f1;
  cursor: pointer;
}
.side-panel-tags-item-icon {
  float: left;
  margin-left: 5px;
  margin-right: 8px;
  margin-top: 2px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  width: 8px;
  height: 8px;
}
.side-panel-tags-item-icon.for-tags-dialog {
  margin-top: 0px;
}
.side-panel-tags .side-panel-item .tag-input,
.side-panel-tags .side-panel-item-add-more .tag-input {
  width: 155px;
}
.side-panel-tags .side-panel-item .wap-icon-cancel,
.side-panel-tags .side-panel-item-add-more .wap-icon-cancel,
.side-panel-tags .side-panel-item .wap-icon-checkmark,
.side-panel-tags .side-panel-item-add-more .wap-icon-checkmark {
  font-size: 1.7rem;
  margin-left: 7px;
  cursor: pointer;
}
.side-panel-tags .add-more {
  margin-left: 180px;
  margin-bottom: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.side-panel-tags .edit-tag-icon {
  margin-left: 10px;
  color: #7f7f7f;
}
.side-panel-tags .hide {
  display: none;
}
