@charset "utf-8";
.side-panel-item {
  display: block;
  padding: 8px;
  color: #333333;
  margin: 2px;
}
.side-panel-item.hidden {
  display: none;
}
.side-panel-item.invisible {
  visibility: hidden;
}
.side-panel-item.selected {
  font-weight: 700;
  background: #dddddd;
  cursor: default;
}
.side-panel-item:hover {
  background: #f1f1f1;
  cursor: pointer;
}
.side-panel-item-icon {
  padding-right: 8px;
  font-size: 1.6rem;
}
.side-panel-item-label {
  verticle-align: middle;
}
