@charset "utf-8";
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.nav:after {
  clear: both;
}
.nav:before,
.nav:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav:after {
  clear: both;
}
.tab-nav-list {
  position: relative;
  display: block;
}
.tab-nav-anchor {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.tab-nav-anchor:hover,
.tab-nav-anchor:focus {
  text-decoration: none;
  background-color: #e8e8e8;
}
.nav .open > .tab-nav-anchor,
.nav .open > .tab-nav-anchor:hover,
.nav .open > .tab-nav-anchor:focus {
  background-color: #e8e8e8;
  border-color: #333333;
}
.nav .open > .tab-nav-anchor .caret,
.nav .open > .tab-nav-anchor:hover .caret,
.nav .open > .tab-nav-anchor:focus .caret {
  border-top-color: #818da2;
  border-bottom-color: #818da2;
}
.nav.disabled > .tab-nav-anchor {
  color: #999999;
}
.nav.disabled > .tab-nav-anchor:hover,
.nav.disabled > .tab-nav-anchor:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.tab-nav-anchor > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #303641;
}
.tab-nav-list {
  display: inline-block;
  margin-bottom: -1px;
}
.tab-nav-list.active > .tab-nav-anchor,
.tab-nav-list.active > .tab-nav-anchor:hover,
.tab-nav-list.active > .tab-nav-anchor:focus {
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.tab-nav-anchor {
  margin-right: 4px;
  line-height: 1.25;
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
}
.tab-nav-anchor:hover {
  border-color: #e8e8e8 #e8e8e8 #303641;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > .tab-nav-list {
  float: none;
}
.nav-tabs.nav-justified > .tab-nav-anchor {
  text-align: center;
  margin-bottom: 8px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > .tab-nav-list {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > .tab-nav-list > .tab-nav-anchor {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > .tab-nav-anchor {
  margin-right: 0;
  border-radius: 3px;
}
.nav-tabs.nav-justified > .active > .tab-nav-anchor,
.nav-tabs.nav-justified > .active > .tab-nav-anchor:hover,
.nav-tabs.nav-justified > .active > .tab-nav-anchor:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > .tab-nav-list > .tab-nav-anchor {
    border-bottom: 1px solid #dddddd;
    border-radius: 3px 3px 0 0;
  }
  .nav-tabs.nav-justified > .active > .tab-nav-anchor,
  .nav-tabs.nav-justified > .active > .tab-nav-anchor:hover,
  .nav-tabs.nav-justified > .active > .tab-nav-anchor:focus {
    border-bottom-color: #ffffff;
  }
}
.nav-tabs.right-aligned {
  text-align: right;
}
.nav-tabs.right-aligned > .tab-nav-list > .tab-nav-anchor {
  margin-left: 4px;
  margin-right: 0;
}
.nav-tabs.right-aligned > li:last-child > .tab-nav-anchor {
  margin-right: 4px;
}
.nav-tabs.bordered {
  margin-bottom: 0;
}
.nav-tabs.bordered > .tab-nav-list:first-child > .tab-nav-anchor {
  margin-left: 0;
}
.nav-tabs.bordered > .tab-nav-list:last-child > .tab-nav-anchor {
  margin-right: 0;
}
.nav-tabs.bordered + .tab-content {
  border: 1px solid #303641;
  border-top: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  border-radius: 0 0 3px 3px;
  background-clip: padding-box;
  padding: 8px 4px;
  margin-bottom: 16px;
}
.nav-tabs.bordered + .tab-content > p:last-child {
  margin-bottom: 0;
}
.nav-pills > .tab-nav-list {
  float: left;
}
.nav-pills > .tab-nav-list > .tab-nav-anchor {
  border-radius: 3px;
}
.nav-pills > .tab-nav-list + .tab-nav-list {
  margin-left: 2px;
}
.nav-pills > .tab-nav-list.active > .tab-nav-anchor,
.nav-pills > .tab-nav-list.active > .tab-nav-anchor:hover,
.nav-pills > .tab-nav-list.active > .tab-nav-anchor:focus {
  color: #ffffff;
  background-color: #4285f4;
}
.nav-pills > .tab-nav-list.active > .tab-nav-anchor .caret,
.nav-pills > .tab-nav-list.active > .tab-nav-anchor:hover .caret,
.nav-pills > .tab-nav-list.active > .tab-nav-anchor:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.nav-stacked > .tab-nav-list {
  float: none;
}
.nav-stacked > .tab-nav-list + .tab-nav-list {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > .tab-nav-list {
  float: none;
}
.nav-justified > .tab-nav-anchor {
  text-align: center;
  margin-bottom: 8px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > .tab-nav-list {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > .tab-nav-list > .tab-nav-anchor {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > .tab-nav-anchor {
  margin-right: 0;
  border-radius: 3px;
}
.nav-tabs-justified > .active > .tab-nav-anchor,
.nav-tabs-justified > .active > .tab-nav-anchor:hover,
.nav-tabs-justified > .active > .tab-nav-anchor:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > .tab-nav-list > .tab-nav-anchor {
    border-bottom: 1px solid #dddddd;
    border-radius: 3px 3px 0 0;
  }
  .nav-tabs-justified > .active > .tab-nav-anchor,
  .nav-tabs-justified > .active > .tab-nav-anchor:hover,
  .nav-tabs-justified > .active > .tab-nav-anchor:focus {
    border-bottom-color: #ffffff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.nav .tab-nav-anchor:hover .caret {
  border-top-color: #818da2;
  border-bottom-color: #818da2;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 0;
  -moz-background-clip: padding;
  border-top-right-radius: 0;
  background-clip: padding-box;
}
