@charset "utf-8";
.timeline-like-check-popup-content-list-container {
  padding: 4px;
}
.timeline-like-check-popup-content-list-area {
  padding: 1px;
}
.timeline-like-check-popup-content-more {
  padding: 1px;
}
