@charset "utf-8";
/* --------------------------------------------------------------------------
 * HUE grid system.
 * inspired by bootstrap and flexboxgrid.com
 * row: children of row are aligned horizontaly. height of row can be fixed or auto
 * col: children of col are aligned vertically. width of col can be x/12, fixed, or auto.
 * col-as-row: from parents col-as-row looks like col and from children col-as-row looks like row.
 * this grid system itselt is not aware of padding. use ./grid-cell-padding.less
 * TODO col-lg(larger than 1440px width?)
 * @author sato_hi
 * ------------------------------------------------------------------------*/
.col,
.timeline-secretary-catalog-dialog-detail-pane,
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-detail-pane-col {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.col-as-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.dialog {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  outline: 0;
}
.dialog.fade {
  -webkit-transition: -webkit-transform -0.2s ease;
  -moz-transition: -moz-transform -0.2s ease;
  -o-transition: -o-transform -0.2s ease;
  transition: -webkit-transform -0.2s ease,-moz-transform -0.2s ease,-o-transform -0.2s ease,transform -0.2s ease;
  -webkit-transform: translateY(-800px);
  -moz-transform: translateY(-800px);
  -o-transform: translateY(-800px);
  -ms-transform: translateY(-800px);
  transform: translateY(-800px);
}
.dialog.in {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.dialog-div {
  margin: auto;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: inherit;
}
.dialog-div.dialog-size-small {
  width: 600px;
  height: 375px;
}
.dialog-div.dialog-size-normal {
  width: 800px;
  height: 500px;
}
.dialog-div.dialog-size-large {
  width: 976px;
  height: 610px;
}
.dialog-content {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.dialog-header {
  padding: 16px;
  border-bottom: 1px solid #e8e8e8;
  height: 64px;
  text-shadow: none;
  font-weight: 500;
}
.dialog-header-close {
  float: right;
  margin: 4px 0;
}
.dialog-title {
  margin: 0;
  line-height: 1.5;
}
.dialog-title-bar {
  font-size: 2rem;
  border-left: 2px solid #4285f4;
  padding-left: 14px;
}
.dialog-body {
  padding: 32px;
  position: absolute;
  top: 64px;
  bottom: 74px;
  width: 100%;
}
.dialog-footer {
  padding: 20px 16px 16px;
  text-align: right;
  border-top: 1px solid #e8e8e8;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 74px;
}
.dialog-footer-customization {
  width: 50%;
  float: left;
}
.dialog-footer-default {
  width: 50%;
  float: right;
}
.dialog-footer-button {
  margin-left: 8px;
  float: right;
}
.dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.dialog-backdrop.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.dialog-backdrop.in {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.timeline-secretary-catalog-dialog {
  /* to empower the selector */
}
.timeline-secretary-catalog-dialog .modal .dialog-div {
  display: block;
  width: auto;
  max-width: 1680px;
  top: 80px;
  right: 32px;
  bottom: 32px;
  left: 32px;
  height: auto;
}
.timeline-secretary-catalog-dialog .dialog-body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
}
.timeline-secretary-catalog-dialog-detail-pane {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-search-area {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 16px 16px;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-search-area .timeline-secretary-catalog-dialog-search-area-textbox {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: solid 1px #bdbdbd;
  height: 32px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -moz-background-clip: padding;
  border-radius: 3px 0 0 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  padding: 4px;
  margin-right: -4px;
  z-index: 1;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-list-area-item .timeline-secretary-catalog-dialog-list-area-item-inner {
  display: block;
  padding: 8px 16px;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-list-area-item .timeline-secretary-catalog-dialog-list-area-item-inner:hover {
  background-color: #e8e8e8;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-list-area-item .timeline-secretary-catalog-dialog-list-area-item-inner.more-data {
  color: #4285f4;
  text-align: right;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-list-area-item .timeline-secretary-catalog-dialog-list-area-item-inner.more-data:hover {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-list-area-item.active .timeline-secretary-catalog-dialog-list-area-item-inner {
  background-color: #e8e8e8;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-list-area-item-separator {
  height: 1px;
  margin: 8px 16px;
  background-color: #e8e8e8;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-detail-pane {
  position: relative;
  background-color: #f5f5f5;
  overflow: auto;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-detail-pane-inner {
  padding: 24px;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-detail-pane-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-detail-pane-col {
  width: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 33.33333333333333%;
  flex-basis: 33.33333333333333%;
  max-width: 33.33333333%;
  padding-left: 32px;
  padding-bottom: 48px;
  -webkit-transition: margin-bottom 0.4s;
  -moz-transition: margin-bottom 0.4s;
  -o-transition: margin-bottom 0.4s;
  transition: margin-bottom 0.4s;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-detail-pane-col:nth-child(3n - 2) {
  padding-left: 0;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-detail-pane-col.active {
  margin-bottom: 344px;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-detail-pane-item-section-good,
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-detail-pane-item-section-comment,
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-detail-pane-item-section-share {
  color: #7f7f7f;
  margin-right: 8px;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-inlay {
  position: absolute;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #333333;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0px;
  -webkit-transition: height 0.4s, visibility 0.4s;
  -moz-transition: height 0.4s, visibility 0.4s;
  -o-transition: height 0.4s, visibility 0.4s;
  transition: height 0.4s, visibility 0.4s;
  /* arrow */
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-inlay-inner {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-inlay.open {
  visibility: visible;
  height: 344px;
  overflow: visible;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-inlay .timeline-secretary-catalog-dialog-inlay-inner-img {
  vertical-align: bottom;
}
.timeline-secretary-catalog-dialog .timeline-secretary-catalog-dialog-inlay .arrow {
  bottom: 100%;
  left: -9999px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #333333;
  border-width: 16px;
  margin-left: -16px;
}
