@charset "utf-8";
.timeline-secretary {
  width: 600px;
  background-color: #ffffff;
}
.timeline-secretary-head,
.timeline-secretary-body,
.timeline-secretary-card-head {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.timeline-secretary-head-main,
.timeline-secretary-container,
.timeline-secretary-card-head-main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.timeline-secretary-head-time,
.timeline-secretary-head-actions,
.timeline-secretary-card-head-time,
.timeline-secretary-card-head-actions {
  display: inline-block;
}
.timeline-secretary-head {
  padding: 8px;
}
.timeline-secretary-head-main {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.7rem;
  color: #aaaaaa;
  text-indent: 4px;
}
.timeline-secretary-head-logo {
  width: 24px;
  padding-right: 4px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.timeline-secretary-head-actions-btn-icon {
  margin-right: 2px;
}
.timeline-secretary-lead {
  padding: 0 8px 8px 36px;
  font-size: 1.2rem;
  color: #aaaaaa;
}
.timeline-secretary-body {
  height: 340px;
  padding-bottom: 8px;
}
.timeline-secretary-container {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  overflow: hidden;
}
.timeline-secretary-arrow {
  background-color: #f5f5f5;
  width: 32px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #aaaaaa;
  line-height: 340px;
  text-align: center;
}
.timeline-secretary-container--transitionable .timeline-secretary-card {
  -webkit-transition: -webkit-transform 0.4s ease, opacity 0.4s linear;
  -moz-transition: -moz-transform 0.4s ease, opacity 0.4s linear;
  -o-transition: -o-transform 0.4s ease, opacity 0.4s linear;
  transition: -webkit-transform 0.4s ease,-moz-transform 0.4s ease,-o-transform 0.4s ease,transform 0.4s ease, opacity 0.4s linear;
}
.timeline-secretary-head-time,
.timeline-secretary-card-head-time {
  font-size: 1.2rem;
  color: #bdbdbd;
  margin-right: 8px;
}
.timeline-secretary-setting-popover {
  width: 400px;
  min-height: 200px;
}
.timeline-secretary-setting-popover.popover {
  display: block;
}
.timeline-secretary-setting-popover.popover.right .arrow {
  top: 90px;
}
.timeline-secretary-setting-popover .close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.timeline-secretary-setting-popover .popover-html-content {
  padding: 16px;
}
.timeline-secretary-setting-popover-title {
  margin-top: 0;
}
.timeline-secretary-setting-popover-lead {
  color: #aaaaaa;
  margin-bottom: 24px;
}
.timeline-secretary-setting-popover-row {
  margin-bottom: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px dotted #e8e8e8;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.timeline-secretary-setting-popover-row:last-of-child {
  border-bottom: none;
}
.timeline-secretary-setting-popover-subbox {
  height: 0;
  overflow: hidden;
}
.timeline-secretary-setting-popover-subbox .text-input {
  display: inline-block;
}
.timeline-secretary-setting-popover-timing-input-date,
.timeline-secretary-setting-popover-subbox-inner .text-input {
  margin-left: 8px;
  margin-right: 8px;
}
.timeline-secretary-setting-popover-subbox-open {
  height: auto;
}
.timeline-secretary-setting-popover-subbox-inner {
  padding: 8px;
}
.timeline-secretary-setting-popover-label {
  color: #aaaaaa;
}
.timeline-secretary-setting-popover-timing-input-date {
  margin-right: 8px;
}
