@charset "utf-8";
.timeline-search-box {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  float: right;
}
.timeline-search-box-input {
  width: 100%;
  border: solid 1px #bdbdbd;
  height: 32px;
  -webkit-border-radius: 3px 0 0 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 0 0 3px;
  -moz-background-clip: padding;
  border-radius: 3px 0 0 3px;
  background-clip: padding-box;
  padding: 4px;
  margin-right: -2px;
  z-index: 1;
}
.timeline-search-box-autocomplete-suggestion {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
}
.timeline-search-box-autocomplete-suggestion-image {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
.timeline-search-box-autocomplete-suggestion-title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.timeline-search-box-autocomplete-suggestion-title-sub {
  color: #7f7f7f;
  font-size: 1.2rem;
  padding-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.timeline-search-box-extra-suggestions-wrapper {
  display: none;
}
.timeline-search-box-extra-suggestions-more {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
.timeline-search-box-extra-suggestions-more-a {
  color: #4285f4;
  cursor: pointer;
}
.timeline-search-box-extra-suggestions-more.timeline-search-box-hidden {
  display: none;
}
.timeline-search-box-extra-suggestions-divider {
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
}
.timeline-search-box-extra-suggestions-other-item {
  cursor: pointer;
  padding: 4px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.timeline-search-box-extra-suggestions-other-item:hover {
  background-color: #e8e8e8;
}
.timeline-search-box-extra-suggestions-other-item-keyword {
  color: #333333;
  margin-right: 16px;
}
.timeline-search-box-extra-suggestions-other-item-sub {
  color: #7f7f7f;
}
.timeline-search-box-no-result {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 8px;
}
.timeline-search-box-no-result-wrapper {
  display: none;
}
.timeline-search-box-auto-complete-row {
  cursor: pointer;
  display: block;
}
