@charset "utf-8";
.timeline-image-upload-button {
  margin: 1px;
  position: relative;
  width: 24px;
  overflow: hidden;
}
.timeline-image-upload-button-icon {
  cursor: pointer;
  color: #cccccc;
  font-size: 2rem;
  margin-top: 4px;
  width: 24px;
  height: 24px;
}
.timeline-image-upload-button-icon:before {
  vertical-align: middle;
}
.timeline-image-upload-button-fileuploader {
  position: absolute;
  top: 0;
  right: 0;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
}
