@charset "utf-8";
.timeline-share-dialog-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.timeline-share-dialog-content-left-area {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.timeline-share-dialog-content-right-area {
  padding-top: 4px;
  padding-left: 4px;
}
.timeline-share-dialog-content-picture {
  height: 40px;
  width: 40px;
}
.timeline-share-dialog-content-user-area {
  padding-left: 6px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.timeline-share-dialog-content-name-area {
  color: #4285f4;
}
.timeline-share-dialog-content-content-area {
  color: #7f7f7f;
  font-size: 1rem;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.timeline-share-dialog-content-time {
  color: #7f7f7f;
}
