@charset "utf-8";
.timelines-mobile {
  height: 100%;
}
.timelines-mobile-item {
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.timelines-mobile-item .timeline-feed {
  overflow: scroll;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.timelines-mobile-item .timeline-mobile-feed-comment-input {
  min-height: 66px;
}
