@charset "utf-8";
.timeline-mobile-image-area {
  height: 100%;
  position: relative;
  margin-bottom: 8px;
}
.timeline-mobile-image-area-counting {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  color: #bdbdbd;
  padding-bottom: 4px;
}
.timeline-mobile-image-area-counting-number {
  margin-right: 4px;
}
.timeline-mobile-image-area-content {
  line-height: 0;
}
.timeline-mobile-image-area-image {
  border: solid #aaaaaa 1px;
  margin: 1px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  cursor: pointer;
}
.timeline-mobile-image-area-single-image {
  max-width: 99%;
}
.timeline-mobile-image-area-two-horizontal-image-0 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-two-horizontal-image-1 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-two-vertical-image-0 {
  width: 482px;
  height: 240px;
}
.timeline-mobile-image-area-two-vertical-image-1 {
  width: 482px;
  height: 240px;
}
.timeline-mobile-image-area-three-north-image-0 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-three-north-image-1 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-three-north-image-2 {
  width: 482px;
  height: 240px;
}
.timeline-mobile-image-area-three-east {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.timeline-mobile-image-area-three-east-right {
  width: 240px;
}
.timeline-mobile-image-area-three-east-image-0 {
  width: 240px;
  height: 482px;
}
.timeline-mobile-image-area-three-east-image-1 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-three-east-image-2 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-three-south-image-0 {
  width: 482px;
  height: 240px;
}
.timeline-mobile-image-area-three-south-image-1 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-three-south-image-2 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-three-west {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.timeline-mobile-image-area-three-west-left {
  width: 242px;
}
.timeline-mobile-image-area-three-west-image-0 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-three-west-image-1 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-three-west-image-2 {
  width: 240px;
  height: 482px;
}
.timeline-mobile-image-area-four-normal-image-0 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-four-normal-image-1 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-four-normal-image-2 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-four-normal-image-3 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-four-north-image-0 {
  width: 159px;
  height: 160px;
}
.timeline-mobile-image-area-four-north-image-1 {
  width: 160px;
  height: 160px;
}
.timeline-mobile-image-area-four-north-image-2 {
  width: 159px;
  height: 160px;
}
.timeline-mobile-image-area-four-north-image-3 {
  width: 482px;
  height: 240px;
}
.timeline-mobile-image-area-four-east {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.timeline-mobile-image-area-four-east-left {
  width: 242px;
}
.timeline-mobile-image-area-four-east-right {
  width: 240px;
}
.timeline-mobile-image-area-four-east-image-1 {
  width: 240px;
  height: 159px;
}
.timeline-mobile-image-area-four-east-image-2 {
  width: 240px;
  height: 160px;
}
.timeline-mobile-image-area-four-east-image-3 {
  width: 240px;
  height: 159px;
}
.timeline-mobile-image-area-four-east-image-0 {
  width: 240px;
  height: 482px;
}
.timeline-mobile-image-area-four-south-image-1 {
  width: 159px;
  height: 160px;
}
.timeline-mobile-image-area-four-south-image-2 {
  width: 160px;
  height: 160px;
}
.timeline-mobile-image-area-four-south-image-3 {
  width: 159px;
  height: 160px;
}
.timeline-mobile-image-area-four-south-image-0 {
  width: 482px;
  height: 240px;
}
.timeline-mobile-image-area-four-west {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.timeline-mobile-image-area-four-west-left {
  width: 242px;
}
.timeline-mobile-image-area-four-west-right {
  width: 240px;
}
.timeline-mobile-image-area-four-west-image-0 {
  width: 240px;
  height: 159px;
}
.timeline-mobile-image-area-four-west-image-1 {
  width: 240px;
  height: 160px;
}
.timeline-mobile-image-area-four-west-image-2 {
  width: 240px;
  height: 159px;
}
.timeline-mobile-image-area-four-west-image-3 {
  width: 240px;
  height: 482px;
}
.timeline-mobile-image-area-five-north-image-0 {
  width: 159px;
  height: 160px;
}
.timeline-mobile-image-area-five-north-image-1 {
  width: 160px;
  height: 160px;
}
.timeline-mobile-image-area-five-north-image-2 {
  width: 159px;
  height: 160px;
}
.timeline-mobile-image-area-five-north-image-3 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-five-north-image-4 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-five-east {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.timeline-mobile-image-area-five-east-left {
  width: 242px;
}
.timeline-mobile-image-area-five-east-right {
  width: 240px;
}
.timeline-mobile-image-area-five-east-image-2 {
  width: 240px;
  height: 159px;
}
.timeline-mobile-image-area-five-east-image-3 {
  width: 240px;
  height: 160px;
}
.timeline-mobile-image-area-five-east-image-4 {
  width: 240px;
  height: 159px;
}
.timeline-mobile-image-area-five-east-image-0 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-five-east-image-1 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-five-south-image-2 {
  width: 159px;
  height: 160px;
}
.timeline-mobile-image-area-five-south-image-3 {
  width: 160px;
  height: 160px;
}
.timeline-mobile-image-area-five-south-image-4 {
  width: 159px;
  height: 160px;
}
.timeline-mobile-image-area-five-south-image-0 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-five-south-image-1 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-five-west {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.timeline-mobile-image-area-five-west-left {
  width: 242px;
}
.timeline-mobile-image-area-five-west-right {
  width: 240px;
}
.timeline-mobile-image-area-five-west-image-0 {
  width: 240px;
  height: 159px;
}
.timeline-mobile-image-area-five-west-image-1 {
  width: 240px;
  height: 160px;
}
.timeline-mobile-image-area-five-west-image-2 {
  width: 240px;
  height: 159px;
}
.timeline-mobile-image-area-five-west-image-3 {
  width: 240px;
  height: 240px;
}
.timeline-mobile-image-area-five-west-image-4 {
  width: 240px;
  height: 240px;
}
