@charset "utf-8";
.timeline-comment-attachment {
  margin: 1px;
  position: relative;
}
.timeline-comment-attachment-icon {
  cursor: pointer;
  color: #cccccc;
  font-size: 2rem;
  margin-top: 4px;
  width: 24px;
  height: 24px;
}
.timeline-comment-attachment-icon:before {
  vertical-align: middle;
}
