@charset "utf-8";
.timeline-target-select-input {
  width: 100%;
  background-color: #ffffff;
  font-size: 1.2rem;
  overflow-y: auto;
  border: solid 1px #aaaaaa;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.timeline-target-select-input-input {
  position: relative;
  width: 180px;
  border: none;
  padding: 6px;
  display: inline;
}
