@charset "utf-8";
.timeline-new-message-hint {
  display: none;
  cursor: pointer;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  padding-left: 304px;
  top: 10px;
  z-index: 1000;
}
.timeline-new-message-hint.spyed {
  top: 104px;
  position: fixed;
}
.timeline-new-message-hint.timeline-new-message-hint-showing {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.timeline-new-message-hint-text {
  margin: auto;
  background-color: #4285f4;
  padding: 4px 16px 6px 16px;
  color: #ffffff;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-box-shadow: 5px 5px 5px #cccccc;
  -moz-box-shadow: 5px 5px 5px #cccccc;
  box-shadow: 5px 5px 5px #cccccc;
}
.timeline-new-message-hint-text:hover,
.timeline-new-message-hint-text:focus {
  background-color: #3b77db;
  color: #ffffff;
}
.timeline-new-message-hint-text-count {
  margin: 0 4px;
}
