@charset "utf-8";
.wap-nested-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #ffffff;
}
.wap-nested-list .wap-nested-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  margin-left: 1px;
  width: 100%;
}
.wap-nested-list-inline-block {
  display: inline-block;
}
.wap-nested-list-child-width-size-s {
  width: 120px;
}
.wap-nested-list-child-width-size-m {
  width: 240px;
}
.wap-nested-list-child-width-size-l {
  width: 480px;
}
.wap-nested-list-child-width-size-xl {
  width: 720px;
}
.wap-nested-list-child-width-size-full {
  width: 100%;
}
.wap-nested-list-items {
  width: 100%;
  margin-bottom: 0;
  list-style: none;
  border: 1px solid #dddddd;
}
.wap-nested-list-items:before,
.wap-nested-list-items:after {
  content: " ";
  display: table;
}
.wap-nested-list-items:after {
  clear: both;
}
.wap-nested-list-items:before,
.wap-nested-list-items:after {
  display: table;
  content: "";
  line-height: 0;
}
.wap-nested-list-items:after {
  clear: both;
}
.wap-nested-list-items > .wap-nested-list-item:not(.wap-nested-list-item-divider) {
  padding: 0 4px;
}
.wap-nested-list-items-has-header > .wap-nested-list-item:not(.wap-nested-list-item-divider) {
  padding: 0 4px 0 10px;
}
.wap-nested-list-items-header-label-border {
  display: inline;
  border-right: 5px solid #dddddd;
  padding-right: 5px;
}
.wap-nested-list.hidden {
  display: none;
}
.wap-nested-list.invisible {
  visibility: hidden;
}
