@charset "utf-8";
.wap-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.wap-list-inline-block {
  display: inline-block;
}
.wap-list-child-width-size-s {
  width: 120px;
}
.wap-list-child-width-size-m {
  width: 240px;
}
.wap-list-child-width-size-l {
  width: 480px;
}
.wap-list-child-width-size-xl {
  width: 720px;
}
.wap-list-child-width-size-full {
  width: 100%;
}
.wap-list-items {
  width: 100%;
  margin-bottom: 0;
  list-style: none;
}
.wap-list-items:before,
.wap-list-items:after {
  content: " ";
  display: table;
}
.wap-list-items:after {
  clear: both;
}
.wap-list-items:before,
.wap-list-items:after {
  display: table;
  content: "";
  line-height: 0;
}
.wap-list-items:after {
  clear: both;
}
.wap-list-items > .wap-list-item {
  padding: 4px 8px;
}
.wap-list-items-padding-small > .wap-list-item {
  padding: 0 4px;
}
.wap-list-items-show-border > .wap-list-item,
.wap-list-items-show-border > .wap-list-free-format-item {
  margin: -1px 0;
  border: 1px solid #dddddd;
}
.wap-list-items-show-border > .wap-list-item:first-child,
.wap-list-items-show-border > .wap-list-free-format-item:first-child {
  margin-top: -2px;
}
.wap-list-items-show-border > .wap-list-item:last-child,
.wap-list-items-show-border > .wap-list-free-format-item:last-child {
  margin-bottom: -2px;
}
.wap-list.hidden {
  display: none;
}
.wap-list.invisible {
  visibility: hidden;
}
